/*
Colors:
blank - #FFFFFF
text - #000000
primary - #AF2828
secondary - #DF5D5F
accent - #2B6778
*/

/*** Tag selectors ***/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    padding:0;
    width: 100%;
    align-content: stretch;
    flex-wrap: wrap;
}
nav img {
    width: 150px;
    height: 120px;
}
nav button {
    border-radius: 0;
    margin: 0;
}
button {
    border: none;
    background-color:#AF2828;
    color:#FFFFFF;
    border-radius: 4px;
    margin: 5%;
}
button h2 {
    color: #FFFFFF;
}
button h2 a {
    color: #FFFFFF;
    font-size: 1.5rem;
    text-decoration: none;
}
button:hover {
    background-color: #DF5D5F;
}
button:active {
    background-color: #2B6778;
}
section {
    text-align: center;
    padding: 0 5%;
}
nav button {
    flex: 1;
}
header {
    background-image: url("Images/Benefits-Of-Lifting-Weights-scaled.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 10%;
}
h1 {
    text-align: center;
    color: #000000;
    font-weight: bold;
    background-color: #2b6778a6;
    font-size: 5rem;
    margin-top: 0;
}
h2 {
    color: #000000;
    font-size: 3em;
}
header button {
    padding: 2.5% 2.5%;
    font-size: 1rem;
}
footer {
    background-color: #2B6778;
    text-align: center;
}
footer h2 {
    color: #FFFFFF;
}
table {
    width: 80%;
    margin: 5% 10%;
    font-size: 1.75em;
}
table, th, td {
    border: 1px solid #00000083;
    border-collapse: collapse;
}
ul {
    list-style-type: none;
}

/** Class Selectors **/
.highlighted-section {
    background-color: #af282831;
}
.footer-flex {
    display: flex;
    align-content: space-evenly;
}
.footer-flex button {
    font-size: 1.5rem;
}
.date {
    color: #AF2828;
    text-decoration: underline;
}

/** ID Selectors **/
#header-panel {
    background-color: #2b6778a6;
    text-align: center;
    margin: 20% 25% 0 25%;
    color: #FFFFFF;
    padding: 1%;
    font-size: 1.5rem;
}
#header-panel button h2 {
    font-size: 1rem;
}