/*
Colors:
blank - #FFFFFF
text - #000000
primary - #AF2828
secondary - #DF5D5F
accent - #2B6778
*/

/*** Tag selectors ***/
body {
    margin: 0;
}
nav {
    display: flex;
    padding:0;
    width: 100%;
    align-content: stretch;
}
h1 {
    text-align: center;
}
button {
    border: none;
    color: #FFFFFF;
    background-color:#AF2828;
}
button:hover {
    background-color: #DF5D5F;
}
button:active {
    background-color: #2B6778;
}
section {
    text-align: center;
}
nav button {
    flex: 1;
}
header {
    /*background-image: url("Images/Benefits-Of-Lifting-Weights-scaled.jpg");
    background-size: cover;*/
}

/** ID Selectors **/
#heading-banner {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}